<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.remmcal.acomerbolivia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Comida1Activity"
            android:label="plato extra"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida2Activity"
            android:label="plato extra"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida3Activity"
            android:label="Segundo"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida4Activity"
            android:label="Segundo"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida5Activity"
            android:label="Segundo"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida6Activity"
            android:label="Segundo"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida8Activity"
            android:label="Segundo"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida13Activity"
            android:label="Sopa"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida16Activity"
            android:label="Segundo"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida17Activity"
            android:label="Extra"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida18Activity"
            android:label="Plato Navideño"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida19Activity"
            android:label="Segundo"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida20Activity"
            android:label="Segundo"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Comida21Activity"
            android:label="Plato Extra"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".EntradasActivity"
            android:label="Entradas"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SopasActivity"
            android:label="Sopas"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".SegundosActivity"
            android:label="Segundos"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PostreSActivity"
            android:label="Postres"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BebidasActivity"
            android:label="Bebidas"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".TipsActivity"
            android:label="Tips de Cocina"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Entrada1Activity"
            android:label="entrada"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Entrada2Activity"
            android:label="entrada"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Entrada3Activity"
            android:label="entrada"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Entrada4Activity"
            android:label="entrada"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Entrada5Activity"
            android:label="entrada"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Sopa1Activity"
            android:label="sopa"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Sopa2Activity"
            android:label="sopa"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Sopa3Activity"
            android:label="sopa"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Sopa4Activity"
            android:label="sopa"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Sopa5Activity"
            android:label="sopa"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Sopa6Activity"
            android:label="sopa"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Sopa7Activity"
            android:label="sopa"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Postre1Activity"
            android:label="postre"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Postre2Activity"
            android:label="postre"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Postre3Activity"
            android:label="postre"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Postre4Activity"
            android:label="postre"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Postre5Activity"
            android:label="postre"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Bebida1Activity"
            android:label="bebida"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Bebida2Activity"
            android:label="bebida"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Bebida3Activity"
            android:label="bebida"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Bebida4Activity"
            android:label="bebida"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Bebida5Activity"
            android:label="bebida"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".DescripcionActivity"
            android:label="Descripcion"
            android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>
